@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border scroll-smooth border-border p-0;
  }
  body {
    @apply mx-auto max-w-[1440px] bg-background font-poppins text-foreground;
  }

  input {
    @apply bg-transparent;
  }

  svg {
    @apply flex-shrink-0;
  }

  img {
    @apply object-cover;
  }

  button {
    @apply cursor-pointer;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer utilities {
  /* ===== TYPOGRAPHY */
  .h1 {
    @apply text-[48px] font-bold leading-[60px];
  }
  .h2 {
    @apply text-[36px] font-bold leading-[48px];
  }
  .h3 {
    @apply text-[24px] font-semibold leading-[24px];
  }
  .h4 {
    @apply text-[20px] font-medium leading-[28px];
  }
  .h5 {
    @apply text-[16px] font-semibold leading-[24px];
  }
  .subtitle-1 {
    @apply text-base font-medium;
  }
  .subtitle-2 {
    @apply text-sm font-semibold;
  }
  .subtitle-3 {
    @apply text-xs font-semibold;
  }

  /* ===== HELPER CLASSES */
  .container {
    @apply mx-auto max-w-[1440px] px-10;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    @apply hidden;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .primary-btn {
    @apply hover:bg-primary-100 rounded-full bg-primary transition-all !important;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-items-center {
    @apply flex items-center;
  }
  .flex-items-end {
    @apply flex items-end;
  }
  .flex-justify-center {
    @apply flex justify-center;
  }
  .flex-justify-between {
    @apply flex justify-between;
  }
  .flex-justify-end {
    @apply flex justify-end;
  }
  .flex-center-between {
    @apply flex-items-center justify-between;
  }

  /* =====  SHADCN OVERRIDES */
  .shad-no-focus {
    @apply outline-none ring-offset-transparent focus:ring-transparent focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
  .shad-input {
    @apply shad-no-focus border-none px-2 py-0 shadow-none !important;
  }

  .shad-input-item {
    @apply flex-center rounded-xl border px-4 py-1;
  }

  .shad-form-item {
    @apply flex-justify-center h-[78px] flex-col rounded-xl border px-4;
  }
  .shad-form-label {
    @apply w-full text-foreground !important;
  }
  .shad-form-message {
    @apply ml-4 text-sm text-destructive !important;
  }
  .shad-alert-dialog {
    @apply max-w-[95%] space-y-4 rounded-xl bg-white px-4 py-10 outline-none sm:w-fit md:rounded-[30px] md:px-8 !important;
  }
  .shad-submit-btn {
    @apply button hover:bg-primary-100 rounded-full bg-primary transition-all !important;
  }
  .shad-otp {
    @apply flex-justify-between w-full gap-1 sm:gap-2 !important;
  }
  .shad-otp-slot {
    @apply flex-justify-center shadow-drop-1 text-primary-100 size-12 gap-5 rounded-xl border-2 text-[40px] font-medium ring-primary md:size-16 !important;
  }

  .shad-sheet {
    @apply pt-0 !important;
  }
  .shad-sheet button,
  .shad-dialog button {
    @apply outline-none focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
  .shad-dropdown-item {
    @apply cursor-pointer !important;
  }
  .shad-dialog {
    @apply w-[90%] max-w-[400px] rounded-[26px] px-6 py-8 !important;
  }

  .shad-select-item {
    @apply cursor-pointer !important;
  }

  /* Sidebar & MobileNavigation */
  .nav-icon {
    @apply w-6 opacity-25 invert filter !important;
  }
  .nav-icon-active {
    @apply opacity-100 invert-0 !important;
  }

  .error-toast {
    @apply bg-red !rounded-[10px] !important;
  }

  /* Sort */
  .sort-container {
    @apply mt-5 flex items-center sm:mt-0 sm:gap-3 !important;
  }
  .sort-select {
    @apply shad-no-focus h-11 w-full rounded-[8px] border-transparent !shadow-sm sm:w-[210px] !important;
  }
  /* .sort-select-content {  } */
}
